* {margin: 0;}

body {
  background-image: url('assets/BGphoto.png');
  background-size: 100%;
}

.container {
  background-color: lightblue;
  display: grid;
  grid-template-columns: 225px 450px 225px;
  column-gap: 10px;
  padding: 15px;
  margin-top: 30px;
  justify-self: center;
}

header {
  background-color:lightpink;
  grid-column: 1 / span 3;
  height: 175px;
  margin-bottom: 10px;
}


.contentleft {
  background-color: pink;
}

.contentmiddle {
  background-color: pink;
}

.contentright {
  background-color: pink;
  display: grid;
  row-gap: 10px;
}

.contentright > div {
  background-color: lightgreen;
  padding: 10px;
}

footer {
  background-color: lightpink;
  grid-column: 1 / span 3;
  height: 100px;
  margin-top: 10px;
}
