body {
  background-color: lightpink;
  background-image: url("/assets/BGphoto.png");
}

header {
  background-color:lightpink;
  color:lightcoral;
}

h1 {
  color:palevioletred;
}

p {
  color:palevioletred;
}
