body {
  background-image: url('assets/BGphoto.png');
  background-size: 100%;
}

header {
  background-color:lightpink;
  color:lightcoral;
}

h1 {
  color:palevioletred;
}

p {
  color:palevioletred;
}
